/*!* Light theme *!*/
html {
    --color-background: #f1ebeb;
    --color-background-dark: #fff8f8;
    --color-text: #191919;
    --color-text-decoration : #cacaca;
    --color-primary: #2760fd;
    --color-primary-dark: #1a40a8;
    --color-secondary: #edbf3b;
    --color-secondary-dark: #ed943b;
    --color-code: #a51932;
}

/* Dark theme */
html.dark {
    --color-background: #191919;
    --color-background-dark: #2c2c2c;
    --color-text: #f1f1f1;
    --color-text-decoration : #cacaca;
    --color-primary: #2760fd;
    --color-primary-dark: #1a40a8;
    --color-secondary: #edbf3b;
    --color-secondary-dark: #ed943b;
    --color-code: #e63857;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: var(--color-background);
    color: var(--color-text);

    padding: 1.5rem 16rem;
    font-size: 1.25rem;

    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

input, button {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--color-text-decoration);
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
    width: 100%;
}

main {
    padding: 2rem;
}

aside {
    width: 93%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--color-background-dark);
    transition: background-color 0.5s ease-in-out;
}

.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    border-radius: 50rem;
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

    &:hover {
        background-color: var(--color-primary-dark);
    }
}

section {
    background-color: var(--color-background-dark);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.5s ease-in-out;
}

footer {
    padding: 1rem 2rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h3 {
    margin-bottom: 0.5rem;
}

b {
    font-weight: 550;
}

p {
    text-align: justify;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    padding: 1rem 2rem;
    margin: 1rem 6rem;
    text-align: center;
    border: 1px solid var(--color-text-decoration);
    border-radius: 1rem;
}

button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    text-decoration: none;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
        background-color: var(--color-primary-dark);
        color: var(--color-background);
        cursor: pointer;
    }
}

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

b {
    color: var(--color-primary);
}

a {
    color: var(--color-primary);
    text-decoration: underline;
    transition: color, font-weight 0.25s ease-in-out;

    &:hover {
        color: var(--color-primary-dark);
        font-weight: 500;
        cursor: pointer;
    }
}

h2 {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 1rem;
}

h4 {
    margin-top: 0.75rem;
}

h5 {
    margin-top: 1rem;
}

.code {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--color-text);
    color: var(--color-background);
    font-size: 1rem;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;
}

.split-window {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.button-example {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;

    transition: background-color 0.5s ease-in-out;

    &:hover {
        background-color: var(--color-secondary);
        cursor: pointer;
    }
}

.ghost {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 100%;
    font-size: 5rem;
    transition: opacity 0.5s ease-in-out;
    &:hover {
        opacity: 0;
        cursor: url("../media/buster.ico"), pointer;
    }
}

.psycho-background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 100rem;

    color: rgba(0, 0, 0, 0);

    /* Rainbox Background */
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);
    background-size: 1400% 1400%;
    background-position: 0 0;

    transition-property: width, height, background-position, color, font-size;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;

    &:hover {
        width: 90%;
        height: 200px;
        background-position: 100% 100%;
        color: var(--color-background);
        font-size: 10rem;
        cursor: pointer;
    }
}

.code-line {
    background-color: var(--color-background);
    padding: .15rem .55rem;
    border-radius: .35rem;
    color: var(--color-code);
    font-weight: 400;
    font-family: 'Fira Code', monospace;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: none;
    padding: 0.5rem;
    text-align: center;
}

.ex-btn {
    display: inline-block;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 50rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;
}

.ex-btn.hover {
    background-color: var(--color-primary-dark);
}

.ex-btn.active {
    background-color: var(--color-secondary);
}

.ex-btn.disabled {
    background-color: var(--color-text-decoration);
    color: var(--color-background);
}

.ex-btn-no-trans {
    display: inline-block;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 50rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;
    transition: none !important;
}

.ex-btn-no-trans:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
}

.ex-btn-no-trans:active {
    background-color: var(--color-secondary);
}

.ex-btn-no-trans:disabled {
    background-color: var(--color-text-decoration);
    color: var(--color-background);
}

.ex-btn-trans {
    display: inline-block;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 50rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;

    transition: background-color 0.25s ease-in-out
}

.ex-btn-trans:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
}

.ex-btn-trans:active {
    background-color: var(--color-secondary);
}

.ex-btn-trans:disabled {
    background-color: var(--color-text-decoration);
    color: var(--color-background);
    cursor: not-allowed;
}

input:hover,
label:hover {
    cursor: pointer;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 50rem;
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

    &:hover {
        background-color: var(--color-background-dark);
    }
}

.example-animation-1 {
    width: 120px;
    height: 120px;
    border-radius: 50rem;
    animation: example-1 2s infinite;
}

.example-animation-2 {
    width: 120px;
    height: 120px;
    border-radius: 50rem;
    animation: example-2 5s infinite;
}

.example-animation-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 8rem;
    animation: example-3 1s infinite alternate;
}

@keyframes example-1 {
    0% {
        background-color: #ffb300;
    }
    100% {
        background-color: #ff5900;
    }
}

@keyframes example-2 {
    0% {
        background-color: darkred;
    }
    15% {
        background-color: orangered;
    }
    30% {
        background-color: orange;
    }
    45% {
        background-color: seagreen;
    }
    60% {
        background-color: dodgerblue;
    }
    75% {
        background-color: blueviolet;
    }
    100% {
        background-color: mediumvioletred;
    }
}

@keyframes example-3 {
    0% {
        scale: 0.9;
    }
    100% {
        scale: 1.1;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner {
    width: 80px;
    height: 80px;
    border: 10px solid var(--color-background);
    border-top: 10px solid var(--color-primary);
    border-radius: 50%;
    animation: spinner 1s infinite linear;
}

@keyframes button-hover {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.button-hover {
    display: inline-block;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-decoration: none;
}

.button-hover:hover {
    cursor: pointer;
    animation: button-hover 0.5s infinite;
}

.card-example-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 240px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-text-decoration);
    font-size: 2rem;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.card-header {
    width: 160px;
    height: 160px;
}

.slide-in-animation {
    animation: slide-in 1s ease-in-out;
}

.card-dance-animation {
    animation: card-dance 0.25s 3 ease-in-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes card-dance {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


